[submodule "submodules/tree-sitter"]
	path = submodules/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "submodules/tree-sitter-zig"]
	path = submodules/tree-sitter-zig
	url = https://github.com/tree-sitter-grammars/tree-sitter-zig
